html, body {
    height: 95%;
}

.div-set {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.div-slot button {
    height: 4em;
    width: 7em;
    margin-bottom: 1em;
    text-align: center;
}

.div-slot span {
    padding-left: 1em;
    vertical-align: top;
}
