body {
    font-family: "Miserable-Secrets-Game-Icons-3", sans-serif;
}

.div-options {
    margin-bottom: 1em;
}

.div-set {
    display: flex;
    flex-flow: column wrap;    
}

.div-section {
    margin-bottom: 2em;
}

.div-slot {
    margin-bottom: 0.25em;
}

.div-slot button {
    width: 7em;
    margin-bottom: 0.25em;
}

.div-slot span {
    padding-left: 0.25em;
    vertical-align: top;
}

.div-options button {
    height: 2em;
    width: 10em;
}

.fix-vertical {
    vertical-align: top;
}

#summary {
    width: 90%;
    height: 30em;
}

.main-heading {
    font-weight: bold;
    text-align: center;
}

.sub-heading {
    text-align: center;
}

@font-face {
    font-family: Miserable-Secrets-Game-Icons-3;
    src: url(Miserable-Secrets-Game-Icons-3.woff) format("woff");         
    unicode-range: U+2660, U+2665, U+2666, U+2663, U+2664, U+2662, U+2667;
  }